<!-- <app-data-bind></app-data-bind> -->
<!-- <select #classe (change) = 0>Selecione uma classe
    <option value="alert alert-success">Sucesso</option>
    <option value="alert alert-success">Alerta</option>
    <option value="alert alert-success">Erro</option>
</select>

  <div class="aler" role="alert">
    This is a primary alert—check it out!
  </div>
  <div class="alert" role="alert">
    This is a secondary alert—check it out!
  </div>
  <div class="alert" role="alert">
    This is a success alert—check it out!
  </div> -->
 <app-ciclo [valorInicial]="valor"></app-ciclo>
 <input type="button" (click)="mudouValor()"  value="Mudar Valor">